body {
    font-family: Roboto, sans-serif ;
    font-size: 16px;
}

footer{
    font-size: 12px;
    bottom: 0;
    width: 100%;
    background-color: lightblue;
    z-index: 1000;
    display: block;
}
#myVideo1 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.customNavSize {
    height: 35px;
}
#navName {
    font-family: "Roboto Black", sans-serif ;
    font-size: 22px;
    color: goldenrod;
    padding-top: 2vh;
}
.navbar-brand {
    font-size: 24px;
}
.navIconColor{
    color: #4F535C;
}

.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    padding: 20px;
}

.centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #D8F665;
    color: dimgrey;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #b8db34;
}

.btn-secondary {
    display: block;
    align-self: center;
    width: 50%;
    padding: 10px;
    margin-bottom: 2vh;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #F35E35;
    color: white;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #F68465;
    color: black;
}

.loginSubText {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
.user_card {
    background: #f6cc65;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}

.user_card_modified {
    background: #f6cc65;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    padding: 20px;
}

.user_card_modified .form-group {
    margin-top: 8px;
    margin-bottom: 8px;
}

.user_card_modified label {
    font-size: 12px;
}

.user_card_modified input[type="text"],
.user_card_modified input[type="email"],
.user_card_modified input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

.user_card_modified .btn-primary {
    padding: 8px 16px;
    font-size: 14px;
}

.user_card_modified .btn-secondary {
    padding: 8px 16px;
    font-size: 14px;
    width: 100%;
}

.user_card_modified .loginSubText {
    text-align: center;
    font-size: 12px;
    margin-top: 18px;
}

.accountText{
    font-size: 22px;
    margin-top: 10px;
}


.title_text{
    font-family: "Roboto Thin";
    font-size: 60px;
    text-align: center;
    color: goldenrod;
    font-weight: bolder;
    font-variant-caps: petite-caps;
}

.cart_images{
    min-height: 70px;
    min-width: 70px;
}

.cart_text{
    font-family: "Roboto Thin";
}

.cart_mainText{
    color: goldenrod;
    font-family: "Roboto Black";

}
.cart_secondaryText{
    color: #4F535C;
    font-family: "Roboto Black";
}

.main_container {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    height: 70vh;
    border-radius: 20px;
}

.content {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.content h1 {
    opacity: 1;
}

.index_link{
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    border-radius: 10px;
    background-color: rgba(246, 204, 101, 0.7);

}

.index_link:hover{
    background-color: #F35E35;
}

body.index-body {
    background-image: url('../images/index_bg.jpg');
    background-size: cover;
}

.categories {
    display: flex;
    padding-left: 20px;
}

.subcategories {
    display: flex;
    padding-left: 20px;
}

.spaced_headings {
    margin-right: 1em;
    cursor: pointer;
    color: #808080;
}

.spaced_categories{
    margin-right: 1em;
    cursor: pointer;
    color: #808080;
}

.spaced_subcategories {
    margin-right: 1em;
    cursor: pointer;
    color: #808080;
}

.flexorno {
    display: flex;
    max-height: 62px;
}

.productsandcategory {
    display: flex;
}

.product {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.subsubcategories {
    padding-left: 20px;
}

.productList{
    width: 77%;
    padding-left: 5%;
    gap: 10px;
}

.filters {
    width: 100%;
    background-color: rgba(246, 204, 101, 0.7);
    border: 1px solid #525252;
    padding-left: 5px;
    display: flex;
    height: 25px;
    margin-bottom: 5px;
}

#testing {
    margin-bottom: 5px;
    display: none;
}

#testing1 {
    margin-bottom: 5px;
    display: none;
    background-color: #eeeeee;
    border: solid black;
    margin-left: 2px;
}

#testing2 {
    margin-bottom: 5px;
    display: none;
    background-color: #eeeeee;
    border: solid black;
    margin-left: 2px;
}

#testing3 {
    margin-bottom: 5px;
    display: none;
    background-color: #eeeeee;
    border: solid black;
    margin-left: 2px;
}

.marked {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

.arrowpadding {
    margin-top: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.checkOLD {
    border: solid black;
    text-align: center;
    width: 20%;
    height: 45px;
    font-size: 30px;
    background-color: white;
    color: black;
    margin-left: 2px;
    cursor: pointer;
}

.checkNEW {
    border: solid black;
    text-align: center;
    width: 20%;
    height: 45px;
    font-size: 30px;
    background-color: black;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

.brandOLD {
    background-color: transparent;
    cursor: pointer;
}

.brandNEW {
    background-color: #c4c4c4;
    cursor: pointer;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.sort {
    min-width: 150px;
    border: solid #adadad;
    color: #adadad;
    padding: 0;
}

[id^=marker].selected {
    display: block;
}

[id^=marker].unselected {
    display: none;
}

.pricedash {
    margin-top: -5px;
    display: block;
}

#myInput {
    box-sizing: border-box;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.dropdown:not(#navAll){
    display: inline-block;
    text-align: left;
    margin-top: -7px;
    margin-right: 2%;
}

.dropdown-content:not(#navAll) {
    display: none;
    margin-top: 2px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-bottom: -500px;
    max-width: 160px;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
}

.dropdown:not(#navAll):hover .dropdown-content {
    display: block;
}

.dropdown:not(#navAll) .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:not(#navAll) .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.leftmenu {
    width: 25%;
}

.filtertexts {
    width: 90%;
}

.pagination {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.unselected_pages {
    color: #808080;
    cursor: pointer;
}

.mobilecategory {
    display: flex;
}

.mobilesubcategory {
    display: flex;
}

.mobilefilters {
    display: block;
}

@media (min-width: 941px) {
    .product {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 30px);
    }
}

@media (min-width: 992px) {
    .product {
        flex: 0 0 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
    }
}

@media (max-width: 1150px) {
    .product {
        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 30px);
    }
    #productList {
        padding-left: 10%;
    }
}

@media (max-width: 1050px) {
    .sort {
        margin-left: -50px;
        padding: 0;
        width: 150px;
    }
}


@media (max-width: 985px) {
    .leftmenu {
        display: flex;
    }
    .productsandcategory {
        display: block;
    }
    .productList{
        width: 100%;
        margin-left: -5%;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .product {
        flex: 0 0 calc(33.33% - 10px);
        max-width: calc(33.33% - 10px);
    }
    .spaced_headings {
        font-size: 15px;
    }
    .spaced_categories {
        font-size: 15px;
    }
    .spaced_subcategories {
        font-size: 15px;
    }

    .filtertexts {
        font-size: 15px;
    }
    .form-control{
        padding-top: 2px;
        padding-bottom: 3px;
    }
    .subsubcategories {
        display: flex;
        width: 100%;
    }
    .mobilefilters {
        display: flex;
        gap: 5px;
        margin-top: -2px;
        margin-left: 10px;
    }
}

@media (max-width: 905px) {
    .mobilefilters {
        /*display: block;*/
        margin-left: 50%;
    }
    .leftmenu {
        display: flex;
    }
    .productsandcategory {
        display: block;
    }
    .spaced_headings {
        font-size: 15px;
    }
    .spaced_categories {
        font-size: 15px;
    }
    .spaced_headings {
        font-size: 15px;
    }
    .spaced_subcategories {
        font-size: 15px;
    }
    .filtertexts {
        font-size: 15px;
    }
    .form-control{
        padding-top: 2px;
        padding-bottom: 3px;
    }
    .subsubcategories {
        display: flex;
        width: 100%;
    }
    .leftmenu {
        display: block;
    }
    .productsandcategory {
        display: block;
    }
    .productList{
        width: 100%;
        margin-left: -2%;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .product {
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
    .filterswidth{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (max-width: 685px) {
    .mobilefilters {
        display: block;
        margin-left: 0;
    }
}

@media (max-width: 535px) {
    .leftmenu {
        display: flex;
    }
    .productsandcategory {
        display: block;
    }
    .spaced_headings {
        font-size: 15px;
    }
    .spaced_categories {
        font-size: 15px;
    }
    .spaced_headings {
        font-size: 15px;
    }
    .spaced_subcategories {
        font-size: 15px;
    }
    .filtertexts {
        font-size: 15px;
    }
    .form-control{
        padding-top: 2px;
        padding-bottom: 3px;
    }
    .subsubcategories {
        display: flex;
        width: 100%;
    }
    .leftmenu {
        display: block;
    }
    .productsandcategory {
        display: block;
    }
    .productList{
        text-align: center;
        width: 100%;
        margin-left: -5%;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .product {
        flex: 0 0 calc(100%);
        max-width: calc(100%);
        min-width: 257px;
    }
}

@media (max-width: 490px) {
    .mobilecategory {
        display: block;
        text-align: left;
    }
    .sort {
        margin-top: 12px;
    }
    .leftmenu {
        display: flex;
    }
    .productsandcategory {
        display: block;
    }
    .spaced_headings {
        font-size: 15px;
    }
    .spaced_categories {
        font-size: 15px;
    }
    .spaced_headings {
        font-size: 15px;
    }
    .spaced_subcategories {
        font-size: 15px;
    }
    .filtertexts {
        font-size: 15px;
    }
    .form-control{
        padding-top: 2px;
        padding-bottom: 3px;
    }
    .subsubcategories {
        display: flex;
        width: 100%;
    }
    .leftmenu {
        display: block;
    }
    .productsandcategory {
        display: block;
    }
    .productList{
        text-align: center;
        width: 100%;
        margin-left: -5%;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .product {
        flex: 0 0 calc(100%);
        max-width: calc(100%);
        min-width: 257px;
    }
}
